[submodule "submodules/selenium-objective-c"]
	path = submodules/selenium-objective-c
	url = https://github.com/appium/selenium-objective-c
[submodule "submodules/socket.io-objc"]
	path = submodules/socket.io-objc
	url = https://github.com/pkyeck/socket.IO-objc
